*{
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px 30px;
  font-size: 17px;
  padding: 8px;
}

.container{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"]{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 5px;
}

select{
  width: 100%;
  border:1px solid white;
background-color : white;
padding:12px;
  margin: 2px;
  border-radius: 5px;
  text-align: center;
}

fieldset{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  
}
.address{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.mainHeading{
  text-align: center;
}

.requiredField{
  text-align: center;
  width: 220px;
  height: 25px;
  border: 3px solid black;
}

input[type="submit"]{
  border: 0px;
  background-color: mediumaquamarine;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover{
  background-color: darkcyan;
}
